---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("August 08 2021")}
	heroImage="/about.png"
>
	<p>
		無愛想なインターネット思想犯。 部屋で俺、革命犯。アナーキー・イン・ザ・1k
		ひぐらしのなく頃に、想いを馳せて。
	</p>

	<p>
		カウンター・カルチャーへの敬意をこめてインターネット。
		コンピューターはもはや計算機械ではなく意識融結によるトリップ空間でありそこに支配者はいない。
		PTAがつくったナイトシティみたいなインターネットの秩序にうんざりしているだろう。
		コンピューター技術は弾道計算のためのものではない。
		ロックンロールであるということだ。
	</p>
</Layout>
