---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>新しいインターネットを求める</h2>
			<p>
				私が義務教育過程の教育機関で見たものはその昔ヒッピー等が反発した権威主義そのものであった。
				教師等は勉強の真意を失いつまらない子供たちは競争と価値観に支配されていた。
				そんな中、僕に救世主が現れた。 数学だった。
			</p>
			<p>
				数学はそのシンプルな基本原理を元に壮大な空想世界を僕の手のひらの上で展開した。
				それはLSDのような体験で僕の物理的なものでしか無い指先が数学の展開する世界に融合していった。
				たまに高いビルや橋の上から飛び降りたくなる。
				興味本位の自殺をしたくなる。 死の先になにかあるんじゃないかって。
				ソレがぼくにとっては数学だった。
			</p>

			<p>
				だからインターネットは数学のようなものだ。
				数式の代わりにEthernetのプロトコルを使い仮想世界に接続する。
				さらにおもしろいことにインターネットはプログラムさえかければプロトコルを作ることができる。
				インターネットは人々の知識が肉体を離脱して融合する空間だ。
				AKIRAで描かれた巨大なエネルギーがインターネットだ。
			</p>

			<p>
				でもインターネットはビジネスの場になってしまった。
				Google、Amazon、とくにFacebook（やぁビッグ・ブラザー！）は人々の繊細な意識プロトコルをクラックしてインターネットをひいてはWeb空間全体を二分間憎悪という名のSNSで支配した。
				（Apple?ああ、あいつはのことは言わないでくれやるせない気持ちになっちまうだろ？）
				だからその支配に対抗しなくてはいけない。
			</p>

			<p>
				僕はインターネットユーザーを二分間憎悪ソーシャルから救うハーメルンの笛吹き男にならなきゃいけない。
				はたまたホールデンといっしょにライ麦畑でユーザーとおいかけっこしようか？
				僕には幸い、ハーメルンの笛があるんだ。 その名前が水Protocol。
			</p>

			<h3>水Protocol</h3>
			<p>
				Web1.0はLSDで自我と世界の境界線があやふやになったヒッピーの残党と90年代の日本のカウンター・カルチャーを源流とするサブカルオタクたちの巣窟だった。
				そこでは完全に分散化されていて、日本の個人サイト文化は本当にイカしていた。
				でもWeb2.0の到来でそのような文化は駆逐された。 なぜか。
				それはWeb2.0が強力だったからに違いない。
				Web2.0には拡散力、社会性があったんだ。
			</p>

			<p>
				ぼくはWebの本質をハイパーリンクに見いだしている。
				だからハイパーリンクに拡散力、社会性をインストールするプロトコルを開発しようとおもった。
				つまりツイッターでツイートするよりも個人サイトを作りたいって思わせればいいんだ。
				ツイッターはボタンをクリックするだけで投稿ができる。しかもすぐにいいねできるしレスポンスを送ることができる。
				それだけ簡単に誰かに反応できるってことはそれだけ簡単に誰からか反応してもらえるんだ。
				じゃあそれをハイパーリンクで、しかもうんと分散されたシステムをつかってそんな体験ができたら？
			</p>

			<p>
				水Protocolはハイパーリンク一行をブラウザのURLに入力するだけで新しくサイトを作ることができる。こんな感じ:
				<code>sui://createsite</code>

				そしてハイパーリンク一つでサイトにたいして様々なアクションができる。例えばこのサイトにコメント欄を追加したいと思えばコメント機能をもつハイパーリンクをブラウザのURLに入力すればいい。
				さらにこのハイパーリンクという性質を利用することによってとんでもない拡散性を持てる。
				ハイパーリンクはEthereumアカウントなどと紐づけられる。
				こうすればこの水ProtocolによってブーストされたハイパーリンクのWebのほうが楽しくなるはずだ。
			</p>

			<p>
				っていうアイデアです。 よければ僕と一緒につくろうね～
				TwitterとかTelegramにDMください！
			</p>

			<p>
				twitter: <code>@alterna_sui</code>
			</p>

			<p>
				telegram: <code>sui_alterna</code>
			</p>
		</main>
		<Footer />
	</body>
</html>
